<!DOCTYPE html>
{% extends 'dbsnp_app/template.html' %} <!-- template inheritance -->

{% block title %}
Home
{% endblock %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {{message.tags}}">
            <strong>{{ message }}</strong> 
        </div>
    {% endfor %}
{% endif %} 

{% block content %}
<h1>Database of single nucleotide variants (GRCh38)</h1>
<h2>Enter your search terms below:</h2>

<label for="chromosomes">Filter by exact match:</label>
<form action="{% url 'results' %}" method="get">
	<select name="chrom" id="chrom">
		<option selected="selected" disabled>Chromosome</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="X">X</option>
			<option value="Y">Y</option>
	</select>
	<!-- <input name="chr" type="text" placeholder="chr"> -->
	<input name="start" type="text" placeholder="Start">
	<input name="end" type="text" placeholder="End">
	<select name="vartype" id="vartype">
		<option selected="selected" disabled>Variant type</option>
			<option value="SNP">SNP</option>
			<option value="deletion">deletion</option>
			<option value="insertion">insertion</option>
			<option value="indel">indel</option>
	</select>
	<select name="conseq" id="conseq">
		<option selected="selected" disabled>Consequence</option>
			<option value="synonymous_variant">synonymous_variant</option>
			<option value="missense_variant">missense_variant</option>
			<option value="protein_altering_variant">protein_altering_variant</option>
			<option value="exon_variant">exon_variant</option>
			<option value="intron_variant">intron_variant</option>
			<option value="frameshift_variant">frameshift_variant</option>
			<option value="splice_region_variant">splice_region_variant</option>
			<option value="splice_donor_variant">splice_donor_variant</option>
			<option value="splice_acceptor_variant">splice_acceptor_variant</option>
			<option value="start_lost">start_lost</option>
			<option value="stop_gained">stop_gained</option>
			<option value="5_prime_UTR_variant">5_prime_UTR_variant</option>
			<option value="3_prime_UTR_variant">3_prime_UTR_variant</option>
			<option value="upstream_gene_variant">upstream_gene_variant</option>
			<option value="downstream_gene_variant">downstream_gene_variant</option>
			<option value="*">*</option>
	</select>
	<select name="clinsig" id="clinsig">
		<option selected="selected" disabled>Clinical significance:</option>
			<option value="pathogenic">pathogenic</option>
			<option value="likely pathogenic">likely pathogenic</option>
			<option value="uncertain significance">uncertain significance</option>
			<option value="likely benign">likely benign</option>
			<option value="benign">benign</option>
			<option value="risk factor">risk factor</option>
			<option value="not provided">not provided</option>
	</select>
	<button type="submit" class="save btn btn-default" name="exact" value="exact">Submit filters</button>
</form>

<label for="chromosomes">Filter by range:</label>
<form action="{% url 'results' %}" method="get">
	<input name="range_chr" type="text" placeholder="Chromosome">
	<input name="range_start" type="int" placeholder="Range start">
	<input name="range_end" type="int" placeholder="Range end">
	<select name="MAF" id="MAF">
		<option selected="selected" disabled>MAF ranges</option>
			<option value="0.00-0.25">0.00-0.25</option>
			<option value="0.25-0.75">0.25-0.75</option>
			<option value="0.75-1.00">0.75-1.00</option>
	</select>
	<button type="submit" class="save btn btn-default" name="range" value="range">Submit range</button>
</form>
<br>
{% endblock %}

{% block home-button %}
{% endblock %}
